# Node (Angular)
**/node_modules/
**/dist/
.npm
.vscode/

# .NET (ASP.NET)
**/bin/
**/obj/
*.user
*.suo
appsettings.Development.json

# .NET Ignored
EstimateScope.API/bin/
EstimateScope.API/obj/
EstimateScope.API/.vs/
EstimateScope.API/appsettings.Development.json

# Angular Ignored
node_modules/
dist/
.angular/
.vscode/
*.log