# Node (Angular)
**/node_modules/
**/dist/
.npm
.vscode/
.angular/
*.log

# .NET (ASP.NET)
**/bin/
**/obj/
*.user
*.suo
.vs/

# --- PENTING: JANGAN BIARKAN KEY BOCOR ---
# Mengabaikan semua file appsettings (termasuk yang utama)
**/appsettings.json
**/appsettings.Development.json
# ----------------------------------------

# EstimateScope Specific
EstimateScope.API/bin/
EstimateScope.API/obj/
EstimateScope.API/.vs/