/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

/* Tailwind Directives v3 (PASTI JALAN) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  @apply bg-slate-50 text-slate-900 antialiased; /* Light Mode */
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
}